@{
    ViewData["Title"] = "Home Page";
}

<style>
    a
    {
        padding: 10px; 
        text-decoration: none; 
        border-radius: 4px;
    }
</style>

<div class="text-center">
    <h1>Witaj w aplikacij MealBook</h1>
    <p>
        Aplikacja zrzeszająca pasjonatów gotowania oraz pieczenia.
    </p>
    <p>
        Wybierz danie z pasku menu które Cię interesuje.
    </p>
    
    <h3>Zobacz również:</h3>

    <br />

    <a class="btn-primary" asp-area="" asp-controller="Calculate" asp-action="Index">        
        Kalkulator kuchenny        
    </a>
</div>
